<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
 
    <!-- The Salesforce connected app is named: LandeskUMP3 -->
    <add key="Salesforce:ConsumerKey" value="3MVG9fMtCkV6eLhdS1q0c14pFcnTL59Ne35tjAF9PtBVD625K1lB5V1WGdQ9Iri0UXkcfQJrn3cNmsO2JCUE4" />
    <add key="Salesforce:ConsumerSecret" value="9d22dd6e40744e3ebfa041080c51b30b" />
    <add key="Salesforce:RedirectUri" value="/SalesforceOAuthRedirectHandler.axd" />
    <add key="Salesforce:Domain" value="https://landeskdemo-dev-ed.my.salesforce.com/" />
    <add key="SF:UserName" value="LandeskDemoSvcAcct@Outlook.com" />
    <add key="SF:Password" value="P@55word" />
    
    <!--VSOnline-->
    <add key="VSOnline:Endpoint" value="https://landeskmsref.visualstudio.com/" />
    <add key="VSOnline:TeamProjectName" value="SSM" />
    <add key="VSOnline:TeamProjectCollectionName" value="DefaultCollection" />
    <add key="VSOnline:UserName" value="LandeskDemoSvcAcct" />
    <add key="VSOnline:Password" value="P@55word" />
    
    <!-- Azure Active Directory App is named: LandeskUMP_Complete-->
    <add key="ida:ClientId" value="e0be8638-4c29-470a-9aa5-9db0b42c8bd8" />
    <add key="ida:AADInstance" value="https://login.windows.net/" />
    <add key="ida:Domain" value="LandeskTest.onmicrosoft.com" />
    <add key="ida:TenantId" value="cf58bd74-37b1-4c6f-b5b6-351b5fd116d9" />
    <add key="ida:PostLogoutRedirectUri" value="https://localhost:44300/" />
    
    <!-- Azure Storage -->
    <add key="landeskdemotokenstore_AzureStorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=landeskdemotokenstore;AccountKey=xYBKAinwHOxM4ysceZ3yIOlGVd2Rdc0jinfhTu6b9utOT5/TZY6ZwwjmW/GzKN2ozKQjx3ZrbbhF+4X/o/i6bw==" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.3.0" newVersion="5.6.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.3.0" newVersion="5.6.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.3.0" newVersion="5.6.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<system.webServer>
  <handlers>
    <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
    <remove name="OPTIONSVerbHandler" />
    <remove name="TRACEVerbHandler" />
    <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    <add name="SalesforceOAuthRedirectHandler" verb="GET" path="/SalesforceOAuthRedirectHandler.axd" type="LandeskUMP.Salesforce.SalesforceOAuthRedirectHandler" />
  </handlers>
</system.webServer></configuration>
