<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <!--VSOnline-->
    <add key="LandeskVSO:Endpoint" value="https://landeskmsref.visualstudio.com" />
    <add key="LandeskVSO:TeamProjectName" value="SSM" />
    <add key="LandeskVSO:TeamProjectCollectionName" value="DefaultCollection" />
    <add key="LandeskVSO:Username" value="Landesk" />
    <add key="LandeskVSO:Password" value="Microsoft12" />
  </appSettings>
</configuration>