@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <a target="_blank" href="http://Landesk.com"> <img src="~/Content/images/LANDESK-logo-RGB-MySmall-Retina.png" /></a>
    <p class="lead">DEMO: Using Visual Studio Online and Salesforce to prioritize customer bugs and features</p>
</div>
<img src="~/Content/images/ServiceDemo.png" />
